{% load staticfiles %}

    <head>
        <title>Blog da Popo</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Indie Flower&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
	<div>
	    <h1><a href=""></a></h1>
	</div>
    <div class="page-header">
        <h1><a2 href="/">Poduszka!! - Blog da Popo Modelo</a2></h1>	
		<h1 class="text-hide" style="background-image: url('https://static.wixstatic.com/media/d9ca3b_cfa08b1ed3d645cf9dde7392c1f6d740.jpg/v1/fill/w_630,h_364,al_c,q_80,usm_0.66_1.00_0.01/d9ca3b_cfa08b1ed3d645cf9dde7392c1f6d740.webp'); width: 500px; height: 360px;"></h1>
    </div>
   		 <div class="container-fluid">
       		 <div class="row">
            	<div class="col-md-8">
            	{% block content %}
            	{% endblock %}
            </div>
        </div>
    </div>
</body>

